<?xml version="1.0"?>
<configuration>
  <location path="Crud.aspx">
   <system.web>
     <authorization>
       <allow users="SiteAdmin"/>      
     </authorization>
   </system.web>
 </location>
  <location path="Music.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="News.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Photo.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <!--configuracion global de la aplicacion -->
  <appSettings>
    <!-- (variables) de la pagina maestra-->
    <add key="WebSiteName" value="Eternal Twilight"/>
    <add key="LinkToFacebook" value="http://facebook.com/elgrupo"/>
    <add key="LinkToTwiter" value="http://twiter.com/elgrupo"/>
    <add key="LinkToInstagram" value="http://instagram.com/elgrupo"/>
    <add key="LinkToYoutube" value="http://youtube.com/elgrupo"/>
    <!--(variables) para el envio del correo de verificacion -->
    <add key="SmtpClientPort" value="XXXX(int)"/>
    <add key="PageEmail" value="correo@naut.cu.com"/>
    <add key="PageEmailPass" value="XXXX"/>
  </appSettings>
  <!--configuracion mixta del sitio-->
  <system.web>
    <machineKey validationKey="AutoGenerate,IsolateApps"   decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" />
    <pages viewStateEncryptionMode="Always"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name="EternalTwilight" loginUrl="Login.aspx" timeout="20" slidingExpiration="true" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="false">      
      </forms>
    </authentication>
    <sessionState timeout="300"/>
    <!--300 minutos son 5 horas-->
  </system.web>
  <system.webServer>
    <!--handlers especificos para archivos
        HttpForbiddenHandler genera el error 404 en el navegador del cliente
    -->
    <handlers>
      <add name="ConfigNegationHandler" verb="*" path="*.config" type="System.Web.HttpForbiddenHandler"/>
      <add name="C#NegationHandler" verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler"/>
      <add name="InvalidFileHandler" verb="*" path="*.mdf" type="System.Web.HttpForbiddenHandler"/>
      <add name="InvalidLogFileHandler" verb="*" path="*.ldf" type="System.Web.HttpForbiddenHandler"/>
    </handlers>
  </system.webServer>
  <!--cadenas de conexion de acceso a datos (solo lectura)-->
  <connectionStrings>
    <add name="DataBase" connectionString="Server=PIXEL\PIXELDB;Database=D:\PROGRAMACION\PAGINAS\THE MUSIC BOX\APP_DATA\DATABASE.MDF;User ID=sa;Password=Pwd"/>    
    <add name="D:\PROGRAMACION\PAGINAS\THE MUSIC BOX\APP_DATA\DATABASE.MDFConnectionString" connectionString="Data Source=PIXELBLACK\WORKSERVER;Initial Catalog=&quot;D:\PROGRAMACION\PAGINAS\THE MUSIC BOX\APP_DATA\DATABASE.MDF&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!--ProjectGuid: b9c5302c-e196-48d8-8340-67a9aac035e1-->
